<nav class="sidebar">
  <ul class="sidebar-nav">
    <li><a href="{{ '/branch/' | relative_url }}">Index</a></li>
    <li><a href="{{ '/branch/bailey/' | relative_url }}">Bailey</a></li>
    <li><a href="{{ '/branch/clark_unwin/' | relative_url }}">Clark &amp; Unwin</a></li>
    <li><a href="{{ '/branch/cockin/' | relative_url }}">Cockin</a></li>
    <li><a href="{{ '/branch/coles/' | relative_url }}">Coles</a></li>
    <li><a href="{{ '/branch/fletcher/' | relative_url }}">Fletcher</a></li>
    <li><a href="{{ '/branch/giles/' | relative_url }}">Giles</a></li>
    <li><a href="{{ '/branch/handley/' | relative_url }}">Handley</a></li>
    <li><a href="{{ '/branch/hankin/' | relative_url }}">Hankin</a></li>
    <li><a href="{{ '/branch/holt/' | relative_url }}">Holt</a></li>
    <li><a href="{{ '/branch/hone/' | relative_url }}">Hone</a></li>
    <li><a href="{{ '/branch/jacobsohn_cohen/' | relative_url }}">Jacobsohn &amp; Cohen</a></li>
    <li><a href="{{ '/branch/roberts/' | relative_url }}">Roberts</a></li>
    <li><a href="{{ '/branch/simmonds/' | relative_url }}">Simmonds</a></li>
    <li><a href="{{ '/branch/smith/' | relative_url }}">Smith</a></li>
    <li><a href="{{ '/branch/soul/' | relative_url }}">Soul</a></li>
    <li><a href="{{ '/branch/wilson/' | relative_url }}">Wilson</a></li>
    <li class="sep"><br></li>
    <li><a href="{{ '/branch/letters/' | relative_url }}">Letters</a></li>
    <li class="sep"><br></li>
    <li><a href="{{ '/about/' | relative_url }}">About</a></li>
  </ul>
</nav>
