<nav class="sidebar-nav">
  <a href="{{ '/' | relative_url }}">Home</a>
  <a href="{{ '/branch/bailey/' | relative_url }}">Bailey</a>
  <a href="{{ '/branch/clark_unwin/' | relative_url }}">Clark &amp; Unwin</a>
  <a href="{{ '/branch/cockin/' | relative_url }}">Cockin</a>
  <a href="{{ '/branch/coles/' | relative_url }}">Coles</a>
  <a href="{{ '/branch/fletcher/' | relative_url }}">Fletcher</a>
  <a href="{{ '/branch/giles/' | relative_url }}">Giles</a>
  <a href="{{ '/branch/handley/' | relative_url }}">Handley</a>
  <a href="{{ '/branch/hankin/' | relative_url }}">Hankin</a>
  <a href="{{ '/branch/holt/' | relative_url }}">Holt</a>
  <a href="{{ '/branch/hone/' | relative_url }}">Hone</a>
  <a href="{{ '/branch/jacobsohn_cohen/' | relative_url }}">Jacobsohn &amp; Cohen</a>
  <a href="{{ '/branch/roberts/' | relative_url }}">Roberts</a>
  <a href="{{ '/branch/simmonds/' | relative_url }}">Simmonds</a>
  <a href="{{ '/branch/smith/' | relative_url }}">Smith</a>
  <a href="{{ '/branch/soul/' | relative_url }}">Soul</a>
  <a href="{{ '/branch/wilson/' | relative_url }}">Wilson</a>
  <a href="{{ '/sources/' | relative_url }}">Sources</a>
  <a href="{{ '/letters/' | relative_url }}">Letters</a>
  <a href="{{ '/about' | relative_url }}">About</a>
</nav>
